.h1_box {
	background-image: url(../images/others/front.webp);
	background-position: 0 50%;
}

h1 {
	background-color: rgba(250, 249, 246, 0.8);
}
p {
	margin-bottom: 5%;
}
.map {
	max-width: 250px;
	margin: 0 auto 5% auto;
	display: block;
}

/* .access {
	margin: auto;
} */
.opening_hours {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 0px 10px;
	max-width: 400px;
	align-items: center;
	margin: auto;
}

.opening_hours p {
	margin: 5px;
}

.day {
	text-align: right;
}
.time {
	text-align: center;
}

#logo {
	max-width: 150px;
	margin: auto;
}
