.map {
	max-width: 250px;
	margin: auto;
	display: block;
}

h2,
section {
	margin: 10px 10%;
	padding: 0px 0 20px 0;
}

.access {
	margin: auto;
}
.opening_hours {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 0px 10px;
	max-width: 400px;
	align-items: center;
	margin: auto;
}

.opening_hours p {
	margin: 5px;
}

.day {
	text-align: right;
}
.time {
	text-align: center;
}
