.h1_box {
	background-image: url(../images/resized/others/lab-512503_1920.jpg);
	background-position: 0 25%;
}

form {
	margin: auto;
	max-width: 500px;
	padding: 0;
}

fieldset {
	margin: 0 auto;
	border: none;
}

input,
textarea,
option,
.cselect select {
	display: block;
	border-radius: 20em;
	width: 100%;
	border: 3px grey solid;
	font-size: 1em;
	background-color: var(--color_header);
	height: 40px;
	padding-left: 20px;
}

label {
	padding-top: 20px;
}

.cselect select {
	appearance: none;
}

.cselect::after {
	content: "\25b6";
	position: absolute;
	top: 5px;
	right: 20px;
	transform: rotate(90deg);
}

.cselect {
	position: relative;
}
.cselect::after {
}

.form__input {
	display: block;
	margin-bottom: 10px;
	border-style: solid;
	width: 100%;
	min-height: 30px;
	/* margin: auto; */
}

#message {
	padding: 0;
	border-radius: 2em;
	min-height: 200px;
}

.cta.form {
	border: none;
	padding: auto;
}
