.h1_box {
	background-image: url(../images/resized/others/lab-512503_1920.jpg);
	background-position: 0 25%;
}

#address_holder {
	display: flex;
}

#address_holder div {
	margin-left: 30px;
}

#address_holder div p {
	margin-bottom: 0;
}

form {
	margin: auto;
	max-width: 100%;
	padding: 0 10%;
}

fieldset {
	max-width: 100%;
	margin: 0 auto;
	border: none;
}

/* input,
textarea,
option, */
.form__input {
	display: block;
	border-radius: 20em;
	width: 100%;
	border: 3px grey solid;
	font-size: 1em;
	margin-bottom: 15px;
	background-color: var(--color_header);
	/* padding-left: 20px; */
}
#dropdown {
	padding-left: 10px;
}
/* 
.form__input {
	display: block;
	margin-bottom: 10px;
	border-style: solid;
	max-width: 100%;
	min-height: 30px;
	margin: auto;
} */

/* form label {
	padding: 20px 0 20px 0;
} */

select {
	appearance: none;
}

/* 
.cselect select {
	appearance: none;
}

.cselect::after {
	content: "\25b6";
	position: absolute;
	top: 5px;
	right: 20px;
	transform: rotate(90deg);
}

.cselect {
	position: relative;
} */

#message {
	padding: 0;
	border-radius: 2em;
	min-height: 200px;
}

.cta.form {
	border: none;
	padding: auto;
}

/* search */
.search input[type="text"] {
	width: 200px;
	height: 25px;
	border-radius: 25px;
	border: 3px solid var(--color_h1);
}

.search {
	/* float: right; */
	margin: 7px;
	position: absolute;
	right: 5%;
	align-self: baseline;
}

.search button {
	background-color: white;
	/* color: var(--color_h1);
	float: right; */
	padding: 0px 10px;
	margin-right: 16px;
	/* font-size: 12px; */
	border: none;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
}

#search_form {
	display: none;
}

#search_button:active ~ #search_form {
	display: block;
	min-width: 100px;
	min-height: 28px;
	border-radius: 20em;
	border-color: #333;
	position: absolute;
	right: 0;
	top: 3%;
	align-self: center;
	background-color: white;
}
