.h1_box {
	background-image: url(../images/resized/others/lab-512503_1920.jpg);
	background-position: 0 25%;
}

form {
	margin: auto;
	max-width: 500px;
	padding: 0 10%;
}
fieldset {
	margin: 0 auto;
	border: none;
	padding: auto;
}

input {
	display: block;
	border-radius: 20em;
	max-width: 100%;
}

.form__input {
	display: block;
	margin-bottom: 10px;
	border-style: solid;
	width: 100%;
	min-height: 30px;
	/* margin: auto; */
}

#message {
	padding: 0;
	min-height: 200px;
}
textarea {
	min-height: 200px;
	border-radius: 2em;
	max-width: 100%;
}
