.h1_box {
	background-image: url(../images/resized/events/ai.jpg);
	background-position-y: 30%;
	background-position-x: 50%;
}

.event {
	max-width: 800px;
	margin: 5% auto;
}
.event_img {
	max-width: 300px;
	grid-column: 1;
	grid-row: 1/5;
	margin: auto auto;
}

h2 {
	margin: 0;
}
h2,
p,
a {
	grid-column: 2;
}

.event_img.three {
	max-width: 100%;
}

.date {
	margin-left: 0;
	margin-bottom: 0;
}
