/* exhibit */

h1 {
	background-image: url(../images/resized/exhibit/exhibition.jpg);
}

section {
	padding-top: 50px;
}

#section_two {
	border: none;
}
.category a,
.category i {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color_grey);
	text-align: center;
	display: block;
	margin: 10px;
}

.category i {
	font-size: 30px;
}

.category {
	border: 3px solid var(--color_grey);
	padding: 10px;
	border-radius: 40px;
}

.category:hover {
	background-color: var(--color_yellow);
}

.exhibit_categories {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

p {
	margin: 0;
}
#exhibit_spaces {
	margin: 0;
}

#robotics {
	margin: auto;
}
.exhibit_text {
	margin: 0 auto;
	max-width: 600px;
}
.fa-solid.fa-angle-up {
	font-size: 40px;
	position: relative;
	right: -300px;
}

/* cosmology */

#cosmology {
	margin: 0;
	color: white;
	position: relative;
	background-image: url(../images/resized/exhibit/stars.jpg);
	border-radius: 10em 10em 0 0;
	padding: 10%;
	background-repeat: no-repeat;
	border: none;
	margin-top: 70px;
}

.cosmo {
	background-color: rgb(5, 8, 22, 0.5);
	padding: 5%;
	margin-top: 90px;
}

#satellite {
	max-width: 30%;
	transform: rotate(-60deg);
	position: absolute;
	right: 0px;
	top: 0px;
}
/* evolution */

#evolution {
	display: flex;
	position: relative;
	flex-direction: column;
}
#evolution h2 {
	position: absolute;
	top: 5%;
	left: 60%;
}

#p_one,
#p_two {
	max-width: 650px;
	margin: 20px auto;
}

#biology {
	padding: 0;
	color: var(--color_h1);
	position: relative;
}

#biology_img {
	margin: auto;
}

#biology_img img {
	border-radius: 0;
}

#biology p,
#biology h2 {
	padding: 5px 10%;
}

#micro {
	max-width: 150px;
	position: absolute;
	right: 30px;
	bottom: 40px;
}

#robotics {
	position: relative;
}
#bob {
	max-width: 200px;
	position: absolute;
	transform: scaleX(-1);
	bottom: 0;
	right: 80px;
}
