/* exhibit */
main {
	overflow: hidden;
	max-width: none;
	margin: 0;
}

.h1_box {
	background-image: url(../images/resized/unused/dinosaur-gbc43fe063_640.jpg);
	background-position-y: 45%;
}

.exhibit_section:not(#cosmology) {
	max-width: 800px;
}

#index {
	border: none;
}

p {
	margin: 0;
}
#exhibit_spaces {
	margin: 0;
}

#robotics {
	margin: auto;
}

.exhibit_text {
	margin: 0 auto;
	max-width: 600px;
}

/* cosmology */

#cosmology {
	max-width: 100%;
	margin: 0;
	color: white;
	position: relative;
	background-size: cover;
	background-image: url(../images/resized/exhibit/stars.jpg);
	border-radius: 10em 10em 0 0;
	padding: 10%;
	background-repeat: no-repeat;
	border: none;
	margin-top: 70px;
}

#cosmology .exhibit_text {
	background-color: rgb(5, 8, 22, 0.5);
	padding: 5%;
	margin-top: 90px;
}

#satellite {
	max-width: 0%;
	transform: rotate(-60deg);
	position: absolute;
	right: 0;
	top: 0px;
	animation: fly-in forwards 15s;
}

@keyframes fly-in {
	100% {
		max-width: 50%;
	}
}

/* evolution */

#evolution {
	margin-top: 5%;
	/* display: flex; */
	position: relative;
}

#evolution h2 {
	position: absolute;
	top: 0%;
	right: 10%;
}

#mammoth {
	max-width: 200px;
	margin: auto;
}

#evolution p {
	margin: 5% auto;
}

#biology {
	padding: 0;
	color: var(--color_h1);
	position: relative;
}

.biology img {
	border-radius: 0;
}

.biology {
	max-height: 300px;
	overflow-y: hidden;
}

#head img {
	border-radius: 0;
}

#micro {
	max-width: 100px;
	margin: 20px auto;
}

#biology p,
#biology h2 {
	padding: 5px 10%;
}

#robotics {
	position: relative;
}

#bob {
	max-width: 200px;
	float: right;
	transform: scaleX(-1);
	margin: 10px auto;
}

#ecology .img {
	margin: 5% auto;
}
