@import url(./exhibits.css);
@import url(./join_us.css);

main {
	padding: 0 10%;
}
#welcome {
	display: grid;
}
.welcome_h1 {
	text-transform: uppercase;
	font-size: 2em;
	/* margin: 20px; */
}

.info_board {
	display: flex;
	border: 5px var(--color_grey) solid;
	padding: 20px;
	border-radius: 2em;
	max-width: 500px;
	margin: auto;
}

.info_board div {
	flex: 1;
	text-align: center;
	margin: 0 10px;
}

.info_board i {
	font-size: 20px;
}

.info_board h3 {
	align-self: baseline;
	margin: 0;
}
.img {
	max-width: 300px;
	margin: 0 auto;
}

.p_big {
	margin: 0 auto 20px auto;
}
.event img {
	border-radius: 1em 1em 0 0;
}

h2 {
	text-align: center;
}

.events {
	display: grid;
	/* grid-row: 1fr 1fr 1fr;
	gap: 30px; */
}

.event {
	margin: auto;
	max-width: 300px;
}

.event_h3 {
	max-width: 400px;

	padding: 20px;
	background-color: black;
	color: white;
	margin-top: 0;
	border-radius: 0 0 1em 1em;
	position: relative;
	bottom: 30px;
}
.event_h3:hover {
	color: var(--color_yellow);
}

.date {
	background-color: black;
}

.event_img.three {
	max-height: 180px;
}

.volunteer {
	max-width: 200px;
	max-height: 300px;
	margin: 20px auto;
	background-image: url(../images/resized/involved/hands.jpg);
}

#robot {
	margin: 0 auto;
	position: relative;
	left: 35px;
}

#robot img {
	z-index: 100;
}
#circle {
	width: 400px;
	height: 400px;
	background-color: var(--color_yellow);
	border-radius: 50%;
	position: relative;
	top: 300px;
}
