.h1_box {
	background-image: url(../images/resized/events/andrew-ruiz-348421.jpg);
	background-position-y: 30%;
}

h1 {
	max-width: 400px;

	background-color: rgb(5, 8, 22, 0.5);
	color: white;
}

#welcome {
	margin: 0 5% 5% 5%;
	position: relative;
}

#welcome_h2 {
	position: absolute;
	right: -100%;
	top: 5%;
	background: none;
	padding: 0;
	text-transform: uppercase;
	animation: slide-in-right 2s forwards;
	text-align: center;
	font-size: 1.2em;
	font-style: italic;
}

#robot_home {
	margin: 5% auto;
	position: relative;
	left: -100%;
	max-width: 250px;
	z-index: 2;
	animation: slide-in-left 2s forwards;
}

@keyframes slide-in-left {
	100% {
		left: 0;
	}
}
@keyframes slide-in-right {
	100% {
		right: 8%;
	}
}

#circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: var(--color_yellow);
	position: absolute;
	top: 8%;
}

.info_board {
	border: 5px var(--color_blue) solid;
	padding: 0 20px;
	border-radius: 2em;
	max-width: fit-content;
	margin: 0 auto;
	background-color: white;
	color: var(--color_h1);
}

.info_board div {
	flex: 1;
	text-align: center;
	margin: 20px 10px;
}

.info_board i {
	font-size: 20px;
	margin-bottom: 5px;
}

.info_board h3 {
	align-self: baseline;
	margin: 0;
	font-size: 1em;
}

.info_board p {
	font-size: 0.8em;
	margin-top: 5px;
}

.last {
	display: flex;
	flex-wrap: wrap;
}

#hands_img {
	margin: auto;
	background-image: url(../images/resized/involved/hands.jpg);
}

P,
.p_big {
	margin: 10 auto 0 auto;
}

.event.img {
	/* height: 100%;
	object-fit: contain; */
}

.event {
	border-radius: 2em;
	margin: 10% auto;
	color: white;
	background-color: var(--color_h1);
	max-width: 300px;
}

.event_h3 {
	margin: 10px auto;
	padding: 30px;
	font-size: 1rem;
}

.event_h3 a {
	color: white;
	text-decoration: none;
}

.event_h3 h3 {
	/* font-family: unset; */
	font-weight: 500;
}
.event_h3 a:hover {
	color: var(--color_yellow);
}

.date {
	/* font-size: smaller; */
	margin: 0px;
	/* text-align: left; */
}

#explore_img {
	max-width: 320px;
	margin: auto;
}

h2 {
	font-size: 1.8em;
	text-align: center;
}

#cta_event {
	grid-column: 1/4;
}

#exh_spaces .p_big {
	margin-top: 30px;
}

#about,
.last {
	max-width: 600px;
}

.last .cta {
	margin: 20px auto 0 auto;
}
