section {
	border-bottom: solid 1px grey;
	padding: 20px 0px;
}
#join_index {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

#join_index a {
	display: block;
	text-decoration: none;
	color: var(--color_h1);
	text-transform: capitalize;
	font-weight: 500;

	border: 1px solid grey;
	border-radius: 2em;
	padding: 5px 10px;
	text-align: center;
}

#join_index a:hover {
	background-color: var(--color_yellow);
}

.img {
	margin: 0;
}

.kids {
	border-radius: 1em;
	margin: 10px;
	background-image: url(../images/resized/involved/kid.jpg);
}
.teacher {
	background-image: url(../images/resized/involved/teacher.jpg);
}

.researcher {
	background-image: url(../images/resized/involved/researcher.jpg);
}

.support {
	background-image: url(../images/resized/involved/heart.jpg);
}
.volunteer {
	background-image: url(../images/resized/involved/hands.jpg);
}

.internship {
	background-image: url(../images/resized/involved/intern.jpg);
}

.join {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
h2 {
	align-self: center;
}

.p_big {
	margin: 20px 0 0 0;
}
p {
	grid-column: 1/3;
}
