section {
	border-bottom: solid 1px grey;
	padding: 20px 0px;
}
.join_index {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.join_index a {
	display: block;
	text-decoration: none;
	color: var(--color_h1);
	text-transform: capitalize;
	font-weight: 500;
	margin-bottom: 10px;
	border: 1px solid grey;
	border-radius: 2em;
	padding: 5px 10px;
	text-align: center;
}

.join_index a:hover {
	background-color: var(--color_yellow);
}
