@media (min-width: 800px) {
	.access {
		display: grid;
		gap: 0 30px;
		grid-template-columns: 1fr 1fr;
	}

	h1 {
		left: unset;
		right: 5%;
		top: 40%;
		transform: none;
	}
}

@media (min-width: 1000px) {
	header {
		padding: 50px 0 0 30px;
	}

	.logo {
		max-width: 300px;
		font-size: 1.5em;
	}

	#search_icon {
		display: block;
		position: absolute;
		right: 9%;
		z-index: 10;
	}

	/* index */

	#welcome {
		grid-template-columns: 1fr 1fr;
		gap: 10px 20px;
		padding: 50px 0 30px 0;
	}

	#robot_home {
		grid-column: 1;
		grid-row: 1/4;
	}

	#welcome h1 {
		grid-column: 2;
		min-height: 30px;
		margin: 20px auto;
	}

	.info_board {
		grid-column: 2;
	}

	.home {
		grid-column: 2;
		margin: 0 auto;
	}

	#events_home {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 3;
		gap: 30px;
		max-width: 1000px;
		padding: 0;
		margin: 0 auto;
	}

	#events_home h2 {
		grid-column: 1/4;
	}
	.grid_box {
		display: grid;
		gap: 30px;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 40px;
	}
	.grid_box p {
		grid-column: 2;
		margin-top: 0;
	}

	.grid_box .img {
		grid-row: 1/3;
		margin: auto;
	}

	/* events */
	.event {
		gap: 20px 30px;
		margin: 30px auto;
	}

	.event_img.two {
		grid-column: 2;
	}

	#event_two p,
	#event_two h2,
	#event_two a {
		grid-column: 1;
	}

	#p_desc {
		margin: auto;
		grid-row: 1/4;
	}

	#event_three .date,
	#event_three h2,
	.event_img.three {
		grid-column: 1;
	}

	.event_img.three {
		grid-row: 3;
	}

	.join {
		display: grid;
		grid-template-columns: 2fr 3fr;
	}

	.join .img {
		grid-column: 1;
		grid-row: 1/3;
	}

	.join p {
		grid-column: 1/3;
	}
	.join .p_big {
		margin-top: 0;
		grid-column: 2;
	}

	/* access */

	#accessibility {
		grid-row: 1;
		grid-column: 2;
	}

	#opening_hours {
		grid-column: 1;
	}

	#location {
		grid-column: 2;
	}
	#food_and_drink {
		grid-column: 2;
	}
	#shop {
		grid-column: 1;
	}
	#robot {
		grid-column: 2;
		grid-row: 4;
		margin-top: 15%;
	}

	/* exhibits */

	.exhibit_categories {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	nav {
		position: absolute;
		right: 12%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-self: center;
	}

	nav a {
		font-size: 1.2em;
	}
	#hamburger-icon {
		display: none;
	}

	#evolution {
		display: flex;
		position: relative;
		min-height: 550px;
	}
	#evolution h2 {
		left: 700px;
		top: 80px;
	}
	#dino {
		position: absolute;
		right: 0;
		margin: 0;
	}

	#p_one {
		position: absolute;
		top: 200px;
		left: 0;
		max-width: 500px;
	}

	#p_two {
		position: absolute;
		top: 400px;
		max-width: 650px;
		left: 0;
	}

	#evolution .arrow_up {
		position: absolute;
		left: 300px;
		bottom: 20px;
	}

	#ecology h2 {
		grid-row: 1;
		grid-column: 1/3;
	}
	.img.eco {
		grid-row: 2;
		grid-column: 2;
	}

	.img.eco_two {
		grid-column: 1;
		grid-row: 3;
	}

	#p_eco {
		grid-column: 1;
		margin: auto;
	}
}
