@media (min-width: 800px) {
	.access {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	header {
		padding: 50px;
	}

	.logo {
		max-width: 300px;
		font-size: 1.5em;
	}
	nav {
		position: absolute;
		right: 12%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-self: center;
	}

	#hamburger-icon {
		display: none;
	}

	#search_icon {
		display: block;
		position: absolute;
		right: 9%;
		z-index: 10;
	}

	#img_rob {
		float: left;
		margin: 0 30px 30px 0;
		max-width: 300px;
	}

	h1 {
		font-size: 40px;
		padding-left: 550px;
		margin: 0;
		max-width: 600px;
		background-size: 400px;
		background-repeat: no-repeat;
		min-height: 150px;
	}

	.exhibit_section {
		display: flex;
	}
	.exhibit_section > * {
		flex: 1;
	}
	.exhibit_text {
		border: 1px solid grey;
		padding: 10%;
		margin: 0;
	}

	/* events */
	.event.one,
	.event.two {
		display: grid;
		gap: 20px;
		margin: auto;
	}

	.join {
		display: grid;
		grid-template-columns: 2fr 3fr;
	}

	.join .img {
		grid-column: 1;
		grid-row: 1/5;
	}

	.join h2,
	.join p {
		grid-column: 2;
	}
}
