@media (min-width: 800px) {
	.grid_box {
		display: grid;
		gap: 30px;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 40px;
	}
	.grid_box p {
		grid-column: 2;
		margin-top: 0;
	}

	.grid_box .img {
		grid-row: 1/3;
		margin: auto;
	}

	.access {
		display: grid;
		gap: 0 30px;
		grid-template-columns: 1fr 1fr;
	}

	/* #welcome {
		padding: 30px 0 30px 0;
	} */

	#robot_home {
		max-width: 100%;
	}

	#welcome_h2 {
		font-size: 2.5em;
		animation: slide-in-right 2s forwards;
		text-align: center;
		top: 10%;
	}

	#circle {
		top: 100px;
		/* left: 0px; */
		width: 300px;
		height: 300px;
	}

	@keyframes slide-in-right {
		100% {
			right: 13%;
		}
	}

	.info_board {
		display: flex;
		flex-direction: row;
		position: absolute;
		max-width: 50%;
		right: 0;
		bottom: 200px;
		padding: 10px 0;
	}

	/* exhibits */
	#biology {
		padding: 5%;
	}

	#ecology h2,
	#biology h2 {
		grid-row: 1;
		grid-column: 1/3;
	}

	#biology p,
	#biology h2 {
		padding: 0;
	}

	#ecology .img {
		margin: 0 auto;
	}

	.img.eco {
		grid-row: 2;
		grid-column: 2;
	}

	.img.eco_two {
		grid-column: 1;
		grid-row: 3;
	}

	#p_eco,
	#bio_p {
		grid-column: 1;
		margin: auto;
	}

	#micro {
		max-width: 180px;
	}
}

@media (min-width: 1000px) {
	.logo {
		max-width: 300px;
		font-size: 1.5em;
		margin: 10px 30px;
	}

	main {
		font-size: 20px;
	}
	/* index */

	#events_home {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 3;
		gap: 30px;
		max-width: 1000px;
		padding: 0;
		margin: 0 auto;
	}

	#events_home h2 {
		grid-column: 1/4;
	}

	/* events */
	.event {
		gap: 20px 30px;
		margin: 0 auto;
	}

	.event_img.two {
		grid-column: 2;
	}

	#event_two p,
	#event_two h2,
	#event_two a {
		grid-column: 1;
	}

	#p_desc {
		margin: auto;
		grid-row: 1/4;
		padding-left: 10%;
	}

	#event_three .date,
	#event_three h2,
	.event_img.three {
		grid-column: 1;
	}

	.event_img.three {
		grid-row: 3;
	}

	/* access */

	#accessibility {
		grid-row: 1;
		grid-column: 2;
	}

	#opening_hours {
		grid-column: 1;
	}

	#location {
		grid-column: 2;
	}
	#food_and_drink {
		grid-column: 2;
	}
	#shop {
		grid-column: 1;
	}
	#robot {
		grid-column: 2;
		grid-row: 4;
		margin-top: 15%;
	}

	/* exhibits */

	.exhibit_categories {
		grid-template-columns: 1fr 1fr 1fr;
	}

	/* evolution */

	#evolution {
		position: relative;
		min-height: 550px;
		padding: 5%;
		padding-bottom: 10%;
	}

	#evolution h2 {
		top: 80px;
	}
	#dino {
		position: absolute;
		right: -100px;
		margin: 0;
		/* float: right; */
	}

	#mammoth {
		position: absolute;
		top: 450px;
		left: -70px;
		/* float: left; */
	}

	#p_one {
		position: absolute;
		top: 200px;
		left: 0;
		max-width: 500px;
	}

	#p_two {
		position: absolute;
		top: 420px;
		left: 150px;
		max-width: 500px;
	}

	/* }

@media (min-width: 1200px) { */
	nav {
		position: absolute;
		right: 12%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-self: center;
	}

	nav a {
		font-size: 1.2em;
	}

	#hamburger-icon {
		display: none;
	}

	#search_container {
		right: 8%;
		top: 60px;
	}
}
