@font-face {
	font-family: "chillax";
	src: url(../fonts/Chillax_Complete/Fonts/WEB/fonts/Chillax-Variable.woff2);
}

/* global */
body {
	font: 20px poppins;
	margin: 0;
}

main {
	max-width: 1000px;
	margin: auto;
}

section {
	margin: 5% 10%;
	border-bottom: solid 1px grey;
	padding: 20px 0px;
}

.last {
	border: none;
}
img {
	max-width: 100%;
	border-radius: 1em 1em 1em 1em;
}

.img_round {
	min-height: 200px;
	max-width: 200px;
	background-size: cover;
	border-radius: 50%;
	background-position-y: center;
	background-position-x: center;
	margin: auto;
}

.img_holder {
	margin: auto;
}

h1 {
	font-family: "chillax";
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	text-transform: capitalize;
	background-color: rgba(248, 246, 246, 0.6);
	background-size: cover;
	background-blend-mode: lighten;
	margin: auto;
	padding: 20px;
	max-width: 500px;
}

h2 {
	font-family: "chillax";
	font: 20px;
	font-weight: 600;
	text-transform: capitalize;
}

h3 {
	text-transform: capitalize;
}
.p_big {
	font-size: 1.3em;
}

p {
	max-width: 600px;
	margin: 0 auto;
}

.cta {
	text-decoration: none;
	background-color: #008bc9;
	color: white;
	padding: 10px 20px;
	margin: 30px auto;
	border-radius: 20px;
	text-transform: uppercase;
	display: block;
	max-width: max-content;
	max-height: 30px;
}

.cta:hover {
	background-color: #096194;
}
hr {
	margin: 20px 0;
	color: var(--color_partition);
}

/* header */
header {
	/* background-color: var(--color_header); */
	display: flex;
	/* min-height: 70px; */
	justify-content: flex-start;
	margin-bottom: 10px;
	padding: 10px;
}

.logo {
	max-width: 160px;
	font-size: 0.8em;
	display: flex;
	font-family: "chillax";
	font-weight: 500;
	text-decoration: none;
	color: #333;
	align-self: center;
	/* position: absolute;
	margin: 5px 20px; */
}

.logo_img {
	max-width: 40%;
	margin-right: 3px;
}

nav,
#search,
#search_box,
#hamburger-menu {
	display: none;
}

#hamburger-menu:checked ~ nav {
	display: block;
	background-color: white;
	position: absolute;
	right: 0;
	top: 50px;
	z-index: 10;
	padding: 10px;
}

#search_box:checked ~ #search {
	display: block;
	min-height: 25px;
	border-radius: 20em;
	border-color: #333;
	position: absolute;
	right: 8%;
	align-self: center;
}

#search_box:checked ~ nav {
	display: none;
}

#hamburger-icon {
	order: 2;
	position: absolute;
	right: 40px;
	align-self: center;
}

nav a {
	display: block;
	color: var(--color_h1);
	padding: 5px 20px;
	text-decoration: none;
	right: 10px;
	text-transform: capitalize;
	font-family: "chillax";
	font-weight: 500;
	font-size: 25px;
}

nav a:hover {
	font-weight: bold;
}

#search_icon {
	position: absolute;
	right: 70px;
	align-self: center;
}
.back_button {
	font-size: 40px;
	margin-left: 10%;
}

.current_page {
	text-decoration: underline;
}
footer {
	background-color: var(--color_header);
	padding: 20px;
	color: var(--color_grey);
}

.footer {
	font-size: 20px;
	font-weight: 400;
	margin: 10px auto;
	font-family: "chillax";
	text-align: center;
}

.social-media {
	margin-top: 10px;
	text-align: center;
}

.fa-solid.fa-angle-up.white {
	color: white;
}

.fa-solid.fa-angle-up.black {
	color: var(--color_h1);
}

.fa-solid.fa-angle-up:hover {
	text-decoration: underline;
}
