@font-face {
	font-family: "chillax";
	src: url(../fonts/Chillax_Complete/Fonts/WEB/fonts/Chillax-Variable.woff2);
}

/* global */
body {
	font: 18px poppins;
	margin: 0;
}

main {
	max-width: 800px;
	margin: auto;
}

section {
	margin: 5% 10% 5% 10%;
}

img {
	max-width: 100%;
}

h1 {
	font-family: "chillax";
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-transform: capitalize;
	background-color: rgba(248, 246, 246, 0.6);
	background-size: cover;
	background-blend-mode: lighten;
	/* min-height: 100px; */
	margin: 0;
}

h2 {
	font-family: "chillax";
	font: 25px;
	text-transform: capitalize;
}

hr {
	color: var(--color_partition);
}
/* header */
header {
	background-color: var(--color_header);
	display: flex;
	min-height: 70px;
	justify-content: flex-start;
}

.logo {
	max-width: 160px;
	font-size: 0.8em;
	display: flex;
	font-family: "chillax";
	font-weight: 500;
	text-decoration: none;
	color: #333;
	position: absolute;
	margin: 5px 20px;
}

.logo_img {
	max-width: 30%;
	margin-right: 3px;
}

nav,
#search,
#hamburger-menu {
	display: none;
}

#hamburger-menu:checked ~ nav {
	display: block;
	background-color: var(--color_header);
	position: absolute;
	right: 0;
	top: 40px;
	z-index: 10;
	padding: 0;
}

#hamburger-icon {
	order: 2;
	position: absolute;
	right: 40px;
	align-self: center;
}

nav a {
	display: block;
	color: black;
	padding: 5px 20px;
	text-decoration: none;
	right: 10px;
	text-transform: capitalize;
	font-family: "chillax";
	font-weight: 500;
}

nav a:hover {
	font-weight: bold;
}

#search_icon {
	position: absolute;
	right: 70px;
	align-self: center;
}

.current_page {
	text-decoration: underline;
}
footer {
	background-color: var(--color_header);
	padding: 20px;
	color: var(--color_grey);
}

footer h1 {
	font-size: 20px;
	font-weight: 400;
	margin: 10px 0;
	background-color: var(--color_header);
}

.social-media {
	margin-top: 10px;
	text-align: center;
}
