@font-face {
	font-family: "chillax";
	src: url(../fonts/Chillax_Complete/Fonts/Variable/Chillax-Variable.ttf);
}

/* global */
body {
	font-size: 18px;
	font-family: var(--font_family);
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	overflow-x: hidden;
}

p {
	line-height: 1.6em;
}
main {
	max-width: 1000px;
	margin: auto;
}

section {
	margin: 0 auto;
	padding: 5% 10%;
	border-bottom: solid 2px rgb(209, 202, 202);
}

.last {
	border: none;
}

img {
	max-width: 100%;
	border-radius: 1em 1em 1em 1em;
}

.img_round {
	height: 200px;
	width: 200px;
	background-size: cover;
	border-radius: 50%;
	background-position-y: center;
	background-position-x: center;
}

.img_holder {
	margin: auto;
}

.h1_box {
	width: 100vw;
	margin: 0;
	background-size: cover;
	min-height: 50vh;
	background-repeat: no-repeat;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

h1 {
	position: absolute;
	bottom: 5%;
	right: 5%;
	text-align: center;
	background-color: white;
	padding: 10px 30px;
	/* border-radius: 1em; */
	text-transform: capitalize;
	font-family: chillax, var(--font_family);
	font-size: 2em;
	margin-left: 5%;
}

.back_button {
	font-size: 40px;
	position: absolute;
	left: 3%;
	top: 5%;
	background-color: white;
	padding: 10px;
	border-radius: 50%;
	color: var(--color_h1);
	width: 40px;
	height: 40px;
	text-align: center;
}

.back_button:hover {
	/* background-color: var(--color_yellow); */
	border: solid 5px var(--color_blue);
}
h2 {
	font-family: "chillax", var(--font_family);
	font-size: 1.5em;
	font-weight: 600;
	text-transform: capitalize;
}

h3 {
	font-size: 1.3em;
	text-transform: capitalize;
}
.p_big {
	font-size: 1.2em;
	margin-bottom: 5%;
}

.cta {
	text-decoration: none;
	background-color: #008bc9;
	color: white;
	padding: 10px 20px;
	margin: 30px auto;
	border-radius: 20px;
	text-transform: uppercase;
	display: block;
	max-width: max-content;
	max-height: fit-content;
}

.cta:hover {
	background-color: #094a68;
	color: white;
}

/* header */
header {
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}

.logo {
	max-width: 160px;
	font-size: 0.8em;
	display: flex;
	font-family: "chillax";
	font-weight: 500;
	text-decoration: none;
	color: #333;
	align-self: center;
	margin: 5px 20px;
}

.logo:hover {
	/* font-weight: bold; */
	color: var(--color_blue);
}

#search_icon:hover {
	filter: drop-shadow(2px 2px 0px grey);
}

.logo_img {
	max-width: 40%;
	margin-right: 3px;
}

nav,
#search,
#search_box,
#hamburger-menu {
	display: none;
}

#hamburger-menu:checked ~ nav {
	display: block;
	background-color: white;
	position: absolute;
	right: 0;
	top: 70px;
	z-index: 10;
	padding: 10px;
	border-radius: 1em;
	filter: drop-shadow(3px 3px 0 grey);
}

#hamburger-icon {
	order: 2;
	position: absolute;
	right: 8%;
	align-self: center;
}

#hamburger-icon:hover {
	filter: drop-shadow(2px 2px 0px grey);
}

#search_container {
	display: flex;
	position: absolute;
	right: 13%;
	align-self: center;
	z-index: 10;
	align-items: flex-start;
	top: 30px;
}

#search_icon {
	z-index: 100;
	padding: 10px 10px;
	position: absolute;
	right: 0;
	padding: 5px 10px;
}

#search_box:checked ~ nav a {
	display: none;
}

#search_box:checked ~ #search {
	display: block;
	min-width: 100px;
	min-height: 28px;
	border-radius: 20em;
	border-color: #333;
	background-color: white;
}

nav a {
	display: block;
	color: var(--color_h1);
	padding: 5px 20px;
	text-decoration: none;
	right: 10px;
	text-transform: capitalize;
	font-family: "chillax";
	font-weight: 500;
	font-size: 20px;
	z-index: 2;
}

nav a:hover {
	color: var(--color_h1);
	border: var(--color_yellow) 5px solid;
	border-radius: 1em;
	background-color: white;
	filter: drop-shadow(3px 3px 0px grey);
}

.current_page {
	text-decoration: underline;
}

.contact_link {
	color: red;
}

footer {
	background-color: var(--color_header);
	padding: 20px;
	color: var(--color_grey);
	max-width: 100%;
}

.footer {
	font-weight: 400;
	margin: 0;
	font-family: "chillax" var(--font_family);
	text-align: center;
}

.social-media {
	margin-top: 10px;
	text-align: center;
}

.white {
	color: white;
}

.black {
	color: var(--color_h1);
}

.fa-angle-up:hover {
	color: var(--color_yellow);
}

/* exhibit categories */

.exhibit_categories {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	max-width: 800px;
	margin-top: 30px;
}

.exhibit_categories h3 {
	grid-column: 1/4;
	text-align: center;
}
.category a,
.category i {
	text-decoration: none;
	color: var(--color_grey);
	text-align: center;
	display: block;
}

.category i {
	margin-bottom: 10px;
	font-size: 25px;
}

.category {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-transform: capitalize;
	border: 3px solid var(--color_grey);
	padding: 10px;
	border-radius: 40px;
	background-color: white;
}

.category:hover {
	background-color: var(--color_yellow);
}
