:root {
	--color_header: #fff8d6;
	--color_h1: #333;
	--color_grey: #707070;
	--font_h1: orbitron;
	--color_partition: #dddddd;
	--border: solid, 1px, black;
	--color_yellow: #f2e635;
	--color_blue: #0586bf;
	--font_family: "Lucida Sans", "Lucida Sans Regular", "Lucida Sans Unicode",
		Geneva, Verdana, sans-serif;
}
